<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/verify.css">

    <title>Document</title>
</head>
<body>
    <div class="lg-header">
        <img src="https://nimblecdn.digite.com/authassets/3.4.4/auth/login/nimbleworklogo.svg" class="logo" alt="Nimble logo">
        <span class="header-txt">Verification</span>
    </div>
    <div class="container">
        <form method="post" action="/verify_code">
            <div class="title">Verification</div>
            <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}" readonly>
        <br>
        <label for="otc">One-Time Code:</label>
        <input type="text" id="otc" name="otc" required>
        <br>
        <button type="submit">Verify</button>
            </div>
        </form>
    </div>
</body>
</html>

